@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $color-secondary;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.background-primary {
    background: linear-gradient($color-primary-1, $color-primary-2);
}

.container-background-color {
    background: $color-primary-1;
}

.border-color-secondary {
    border: 1px solid $color-secondary;
}